body{
    margin-left: 20px;
    text-align: center;
    background-color: rgb(72, 103, 255);
}
.chat{
    background-color: rgb(0, 217, 255);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.msg{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 16px;
}